header, footer {
  background-color: #ffa500;
  text-align: center;
  min-width: 500px;
}

main {
  display: grid;
  grid-template-columns: 430px 430px;
  grid-template-rows: repeat(3, 270px);
  grid-gap: 75px;
  /*margin-top: 75px; */
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-rows: 500px;
  grid-auto-flow: column;
}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}

h3 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
  margin-bottom: 0px;
}

h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(0,0,0,0.8);
  padding: 5px 0px 10px 10px;
  margin-top:0px;
}

.description {
  font-family: Open Sans;
  font-size: 13px; 
  font-weight: 400px;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.3px;
  text-align: left;
  padding: 10px 0px 10px 10px;
  margin-bottom: 0px;

}

img {
  width: 100%;
  height: auto;
}

.order {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5); */
  width: 400px;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  height: 270px;
}

.a {

}

.c {

}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

/*
.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}
*/

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  min-width: 500px;
  margin: auto;
  grid-template-areas: "left right"
                       "footer footer";
  grid-template-columns: 200px 400px;
  grid-template-rows: 150px 200px 600px 200px;
}

header {
  grid-area: header;
}

footer {
  margin-top: 44px;
  grid-area: footer;
}

nav {
  grid-area: nav;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

#e1_3 { 
  overflow:hidden;
  background-color:rgba(255, 255, 255, 1);
  width:1440px;
  height:2305px;
  position:absolute;
}
#landing { 
  /* width:1440px;
  height:800px;
  position:absolute;
  left:0px;
  top:0px; */
}
#e1_5 { 
  width:1440px;
  height:800px;
  position:absolute;
  left:0px;
  top:0px;
}
#banner { 
  width:1440px;
  height:800px;
  position:absolute;
  left:0px;
  top:0px;
  background-image:url(images/eheader_bg.png);
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow:0 3000px rgb(50 20 0 / 36%) inset;
}
#e1_7 { 
  transform: rotate(-90deg);
    border: 1px solid rgba(255, 255, 255, 1);
    width: 82px;
    height: 1px;
    position: relative;
    /* left: 678px; */
    top: 799px;
    margin-left: auto;
    margin-right: auto;
}
#e1_8 { 
  transform: rotate(-3.12737043874882e-22deg);
  border:1px solid rgba(255, 255, 255, 1);
  width:530px;
  height:1px;
  position:absolute;
  left:830px;
  top:100px;
}
#e1_9 { 
  transform: rotate(-3.3078712509457656e-16deg);
  border:1px solid rgba(255, 255, 255, 1);
  width:530px;
  height:1px;
  position:absolute;
  left:80px;
  top:100px;
}
#bar { 
  background-color:rgba(223, 178, 72, 1);
  width:60px;
  height:6px;
  position:relative;
  /* left:691px; */
  top:480px;
  margin-left: auto;
  margin-right:auto;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}

.nav {
  margin:0;
  padding: 20px 0;

}

.nav li {
  color:white;
  font-family:Poppins;
  text-align:center;
  font-size:15px;
  letter-spacing:2px;
  line-height: 6.5px;
  position:relative;
  left:339px;
  /* top:0px; */
  display: inline-block;
  width: 135px;

}

a {
  color:white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block{
  background-color:#F0CC95;
  width:50%;
  position:absolute;
  left:0px;
}

#navbar { 
  width:1441px;
  height:183px;
  position:absolute;
  left:0px;
  top:0px;

}
#navback { 
  background-color:rgba(109, 26, 2, 0.85);
  width:1441px;
  height:100px;
  position:absolute;
  left:0px;
  top:0px;
}
#e1_13 { 
  color:rgba(255, 255, 255, 1);
  width:135px;
  height:100px;
  position:absolute;
  left:339px;
  top:0px;
  font-family:Poppins;
  text-align:center;
  font-size:15px;
  letter-spacing:3;
  line-height:px;
}
#e1_14 { 
  color:rgba(255, 255, 255, 1);
  width:135px;
  height:100px;
  position:absolute;
  left:479px;
  top:0px;
  font-family:Poppins;
  text-align:center;
  font-size:15px;
  letter-spacing:3;
  line-height:px;
}
#e1_15 { 
  color:rgba(255, 255, 255, 1);
  width:134px;
  height:100px;
  position:absolute;
  left:837px;
  top:0px;
  font-family:Poppins;
  text-align:center;
  font-size:15px;
  letter-spacing:3;
  line-height:px;
}
#e1_16 { 
  color:rgba(255, 255, 255, 1);
  width:135px;
  height:100px;
  position:absolute;
  left:969px;
  top:0px;
  font-family:Poppins;
  text-align:center;
  font-size:15px;
  letter-spacing:3;
  line-height:px;
}
.logof { 
  width:202px;
  height:166px;
  position:absolute;
  left:619px;
  top:17px;
}
#e1_18 { 
  border-radius:500px;
  background-color:rgba(255, 252, 238, 1);
  width:126px;
  height:126px;
  position:absolute;
  left:38px;
  top:20px;
}
#e1_19 { 
  width:202px;
  height:166px;
  position:absolute;
  left:0px;
  top:0px;
  background-image:url(images/e95_957843_transparent_cinnamon_rolls_png_cinnamon_roll_icon_png_1.png);
  background-repeat:no-repeat;
  background-size:cover;
}
#e1_20 { 
  width:1440px;
  height:249px;
  position:absolute;
  left:1px;
  top:326px;
}
#subt { 

  color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#e1_22 { 
  width:200px;
  height:60px;
  position:absolute;
  left:620px;
  top:189px;
}
#e1_23 { 
  background-color:rgba(223.00000190734863, 178.00000458955765, 72.00000330805779, 1);
  width:200px;
  height:60px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
#orderButton { 
  position: absolute;
  left: 51%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  transform: translate(-50%,0%);
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color:white;

}
#e1_25 { 
  color:rgba(255, 255, 255, 1);
  width:998px;
  height:139px;
  position:absolute;
  left:221px;
  top:14px;
  
  /*
  font-family:Poppins;
  text-align:center;
  font-size:96px;
  letter-spacing:0;
  line-height:px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: 550;
  font-size: 96px;
  line-height: 0px;
  /* or 0% */
  
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
#e1_26 { 
  width:60px;
  height:60px;
  position:absolute;
  left:690px;
  top:657px;
}
#e1_27 { 
  width:60px;
  height:60px;
  position:absolute;
  left:0px;
  top:0px;
}
#e1_28 { 
  border-radius:500px;
  border:1px solid rgba(255, 255, 255, 1);
  width:60px;
  height:60px;
  position:absolute;
  left:-1px;
  top:0px;
}
#e1_29 { 
  border-radius:500px;
  background-color:rgba(255, 255, 255, 1);
  width:40px;
  height:40px;
  position:absolute;
  left:10px;
  top:10px;
}
#e1_30 { 
  color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width:40px;
  height:40.000003814697266px;
  position:absolute;
  left:10px;
  top:9.999990463256836px;
  font-family:Font Awesome 5 Free;
  text-align:center;
  font-size:20px;
  letter-spacing:0;
}
#e1_31 { 
  border:2px solid rgba(255, 255, 255, 1);
  width:24px;
  height:43px;
  position:absolute;
  left:38px;
  top:388px;
}
#e1_32 { 
  transform: rotate(180deg);
  border:2px solid rgba(255, 255, 255, 1);
  width:24px;
  height:43px;
  position:absolute;
  left:1407px;
  top:388px;
}
#e1_33 { 
  background-color:rgba(249.6875050663948, 241.0063236951828, 220.55729538202286, 1);
  width:1440px;
  height:433px;
  position:absolute;
  left:0px;
  top:800px;
}
#e1_34 { 
  background-color:rgba(240.12501418590546, 203.7060508131981, 149.07761335372925, 1);
  width:721px;
  height:433px;
  position:absolute;
  left:0px;
  top:800px;
}

h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 136%; 
  
  text-align: center;
  letter-spacing: 1px;
  
  color: #14142B;
}

#e1_35 { 
  position: absolute;
  width:365px;
  height:102px;
  left:900px;
  top:880px;

}
#e1_36 { 
  color:rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 1);
  width:438px;
  position:absolute;
  left:864px;
  top:1035px;
  font-family:Poppins;
  text-align:center;
  font-size:19px;
  letter-spacing:0.75;
  line-height:px;
}


.arrow {
    border: solid rgb(223 178 72);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.splitrow {
    width: 50%;
    height: 433px;
    position: absolute;
    top: 800px;
}


#hpicon{
    position: absolute;
    width: 450px;
    height: 380px;
    left: 114px;
    top: 790px;
    background: url(images/truck_icon.png);
    background-size: cover;
}


#carticon {
    position: absolute;
    width: 45px;
    height: 37px;
    left: 1340px;
    top: 35px;
    background: url(images/shopping-cart-icon.png);
    background-size: 45px;
}

.prod-img{
  width: 240px;
  object-fit: cover;
  height: 270px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  float: left;
}

.prod-info {
   float: right;
   width: 150px;
   /* height: 100%; */

    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }

.plus-img{
  width: 50px;
  object-fit: cover;
  height: 50px;
  float:right;
  padding-right: 18px;
  padding-bottom: 18px;
  top: 35px;
  margin-top: 35px;
}

.foot {
  width: 100%;
  height: 100px;
  background-color: #ffa500;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  left:50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* Product Cards */
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

.cardTitle {
  text-decoration: none;
}

.title {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  padding: 0 1.7rem;
  width: 80%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
  }
  .data {
    float: right;
    width: 60%;
   height: 100%;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .price {
    height: 30px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {

   
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
}

.image {
  float: left;
  width: 40%;
}

.book-image {
  width: 100%;
  display: block;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}


*/



